<p id="notice"><%= notice %></p>

<h1>Admin Blog Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_blog_categories.each do |admin_blog_category| %>
      <tr>
        <td><%= admin_blog_category.title %></td>
        <td><%= admin_blog_category.description %></td>
        <td><%= link_to 'Show', admin_blog_category %></td>
        <td><%= link_to 'Edit', edit_admin_blog_category_path(admin_blog_category) %></td>
        <td><%= link_to 'Destroy', admin_blog_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Blog Category', new_admin_blog_category_path %>
