<turbo-frame id="body">
  <div class="grid xl:grid-cols-6 bg-emerald-700">
    <div class="xl:col-span-1">&nbsp;</div>
    <div class="xl:col-span-4 ">
      <%= image_tag "banner.jpg", class: "rounded-full", alt:"Responsive image" %>
    </div>
    <div class="xl:col-span-1">&nbsp;</div>
  </div>

  <div class="py-3">
    <h1 class="text-left text-3xl px-5">Welcome </h1>
  </div>

  <div class="grid xl:grid-cols-2 py-5">
    <div class="xl:col-span-1 px-5">
      <p class="py-2">
        This is my website
      </p>

      <p class="text-justify py-2">
        I'm a software developer mainly.  However I do teach, and in my spare time lecture about drug education.  If you want to contact me regarding software development work, teaching work, or book me for a presentation on drug education, please do so.
      </p>
      
    </div>

    <div class="xl:col-span-1 px-5">
      <h1 class="text-center text-xl px-5 py-5">Socials </h1>
      <div class="grid xl:grid-cols-3 px-10">
        <%= social_icon "https://github.com/richardhp", "fa-github-square" %>
        <%= social_icon "https://twitter.com/RHowellPeak", "fa-twitter-square" %>
        <%= social_icon "https://www.facebook.com/richard.howellpeak", "fa-facebook-square" %>
        <%= social_icon "https://www.linkedin.com/in/richard-howell-peak-9b4bba48", "fa-linkedin" %>
        <%= social_icon "https://www.youtube.com/channel/UCG1PUJ1Yd2ruz3-Z2wHGE2w", "fa-youtube-square" %>
        <%= social_icon "https://www.instagram.com/richard.howellpeak", "fa-instagram-square" %>
      </div>
    </div>
  </div>

  <div class="py-5 px-5 grid xl:grid-cols-3">
    <%= 
      section_card(
        "/programming", 
        "Web Development", 
        "I'm currently re-building this site in Ruby on Rails version 7 with tailwind css.
        I'm available for hire to complete web development projects."
      )
    %>

    <%= 
      section_card(
        "/teaching", 
        "Teaching", 
        "I am very experienced in teaching maths, physics, economics and computer science."
      )
    %>

    <%= 
      section_card(
        "/drugs", 
        "Drug Education", 
        "You can book me for free public presentations.  Also see my videos and articles about the subject."
      )
    %>
  </div>
</turbo-frame>
